*{
    margin: 0;
    padding: 0;
}



.THeader {
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.THeader_logo{
    display: block;
    width: 200px;
    margin: 20px 0 20px 0;

}

.THeader_logo h1 {
    color: white;
    height: 30px;
    border: 1px solid yellow;

}
.THeader_logo h2 {
    color: white;
    height: 30px;
    border: 1px solid yellow;
}


.THeader_menu {
    height: 60px;
    margin-top: 20px;
    margin-right: 10px;
    width: 200px;
    border: 1px solid yellow;
}
.THeader_menu ul {
    text-align: center;
    list-style: none; 
    border: 1px solid yellow;
}
.THeader_menu ul li {
    color: white;
    display: inline-block;
    margin: 20px 5px 0;
    border: 1px solid yellow;
}